body{
	background-image: url("https://cdn.vox-cdn.com/thumbor/Al48-pEnyIn2rlgKX7MIHNmlE68=/0x0:5563x3709/1200x800/filters:focal(2302x1311:3192x2201)/cdn.vox-cdn.com/uploads/chorus_image/image/65752607/1048232144.jpg.0.jpg");
	background-size: 100%;
	min-height: 100%;
	width: 100%;
	font-family: 'Sono', sans-serif;

}

.header{
	color: white;
	text-align: center;
	margin-bottom: 100px;
}
.data{
	margin-left: 20vw;
}

/*Put a box around the data*/

.box{
	border: 3px solid purple;
	margin-right: 40vw;
	padding: 10px;
	background-color: beige;
}